*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed green; */
}

.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.bg-orange{
    background-color: #ff6900;
}

.container-content-nav{
    width: 70%;
    display: flex;
    
}

.container-a-nav{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.a-nav{
    height: 60px;
    color: white;
    background-color: #ff6900;
    border: 1px solid #ff6900;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: .5rem;
}

.container-logo-nav{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-nav{
    height: 25px;
}

.container-icon-nav{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon-nav{
    margin-left: .5rem;
}

.container-row{
    width: 100%;
    margin-bottom: 2rem;
}

main{
    width: 70%;
    margin: 0 auto;
}

.container-content-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.card{
    width: calc((100% / 3) - 2rem);
}

.line{
    text-decoration: line-through;
}

.red{
    color: red;
}

.container-img-1{
    height: 400px;
    width: 100%;
    position: relative;
}

.container-img-2{
    height: 400px;
    width: 100%;
    position: relative;
}
.container-img-3{
    height: 400px;
    width: 100%;
    position: relative;
}

.container-img-4{
    height: 400px;
    width: 100%;
    position: relative;
}

.container-img-5{
    height: 400px;
    width: 100%;
    position: relative;
}

.container-img-6{
    height: 400px;
    width: 100%;
    position: relative;
}

.img-1{
    background-image: url(../img/1.webp);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.container-img-1:hover .img-1{
    background-image: url(../img/1b.webp);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.img-2{
    background-image: url(../img/2.webp);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.container-img-2:hover .img-2{
    background-image: url(../img/2b.webp);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.img-3{
    background-image: url(../img/3.webp);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.container-img-3:hover .img-3{
    background-image: url(../img/3b.webp);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.img-4{
    background-image: url(../img/4.webp);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.container-img-4:hover .img-4{
    background-image: url(../img/4b.webp);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.img-5{
    background-image: url(../img/5.webp);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.container-img-5:hover .img-5{
    background-image: url(../img/5b.webp);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.container-heart:hover .heart{
    color: red;
}

.img-6{
    background-image: url(../img/6.webp);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.container-img-6:hover .img-6{
    background-image: url(../img/6b.webp);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.container-heart{
    position: absolute;
    top: .5rem;
    right: 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1rem;
}

.heart{
    
    padding: 1rem;
    position: absolute;
    top: .5rem;
    right: 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 1rem;
    
}

.container-sale{
    background-color: red;
    width: 20%;
    position: absolute;
    left: 0;
    bottom: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
}

.sale{
    background-color: red;
    height: 15px;
    font-size: 13px;
    font-weight: 800;
    color: white;
}

.container-card-text{
    width: 100%;
}

.description{
    text-transform: uppercase;
}

h6{
    display: inline;
}

.card-span{
    width: 50%;
}


footer{
    background-color: #1a1a1a;
}

.container-footer{
    width: 70%;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-footer{
    height: 80px;
    width: 30%;
    color: white;
    padding-top: 1rem;
}

.h5-footer{
    margin-bottom: 15px;
    font-size: 16px;
}

.left-footer-legality{
    width: 100%;
    display: flex;
}

.m-r-left-footer{
    margin-right: .5rem;
    font-size: 9px;
}

.right-footer{
    width: 50%;
    text-align: right;
}

.container-icon-footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
}

.text-right-footer{
    color: white;
    padding-right: 20px;
}

.mar-r-icon{
    margin-right: .5rem;
    
}
